/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #FFFFFF; }
  a:hover {
    opacity: 0.6; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

.bgc-primary {
  background-color: #AA0601; }

.bgc-secondary {
  background-color: #FBF2F2; }

.fz-20 {
  font-size: 20px; }

.text-white {
  color: #FFFFFF; }

.text-red-1 {
  color: #650300; }

.text-red-2 {
  color: #AA0601; }

.mt-8 {
  margin-top: 8px; }

.logo {
  background-image: url(../images/logo-white.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  width: 80px;
  height: 81px;
  display: inline-block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .menu a {
    padding-left: 32px;
    padding-right: 32px; }
  .menu:last-child a {
    padding-right: 0px; }
  @media (max-width: 992px) {
    .menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      font-size: 16px;
      border-top: 1px solid #FFFFFF;
      border-left: 1px solid #FFFFFF; }
      .menu li {
        width: 50%;
        border-right: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF; }
      .menu a {
        display: block;
        padding: 12px 0; } }

.footer {
  padding-top: 48px;
  padding-bottom: 32px; }
  @media (max-width: 768px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }

.footer-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #FFFFFF; }

.footer-navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px; }
  .footer-navbar-list a {
    padding-left: 24px;
    padding-right: 24px; }
  .footer-navbar-list:first-child a {
    padding-left: 0; }
  @media (max-width: 992px) {
    .footer-navbar-list a {
      padding-left: 12px;
      padding-right: 12px; } }
  @media (max-width: 768px) {
    .footer-navbar-list {
      display: none; } }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-media img {
    width: 48px; }
  .social-media a {
    padding-left: 16px;
    padding-right: 16px; }
  .social-media:last-child a {
    padding-right: 0px; }
  @media (max-width: 992px) {
    .social-media img {
      width: 40px; }
    .social-media a {
      padding-left: 8px;
      padding-right: 8px; } }
  @media (max-width: 768px) {
    .social-media img {
      width: 24px; } }

.contact-item {
  font-size: 36px;
  margin-top: 36px; }
  .contact-item li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media (max-width: 768px) {
    .contact-item {
      font-size: 16px;
      margin-top: 0; } }

.material-symbols-outlined {
  font-size: 36px;
  display: block;
  margin-right: 22px;
  line-height: 54px; }
  @media (max-width: 768px) {
    .material-symbols-outlined {
      font-size: 18px;
      margin-right: 11px;
      line-height: 24px; } }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px; }
  @media (max-width: 768px) {
    .copyright {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 16px; } }

.terms {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .terms a {
    padding-left: 24px;
    padding-right: 24px; }
  .terms:last-child a {
    padding-right: 0; }
  @media (max-width: 992px) {
    .terms a {
      padding-left: 12px;
      padding-right: 12px; } }
  @media (max-width: 768px) {
    .terms {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .terms li {
        margin-top: 8px; }
      .terms a {
        padding-left: 0; } }

@media (max-width: 992px) {
  header .container {
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  height: 787px;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    .banner {
      background-image: url(../images/home-header-sm.png);
      height: 396px; } }

.banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
  height: 100%; }

.slogan {
  font-family: Noto Sans TC;
  font-size: 36px; }
  .slogan span {
    font-size: 64px;
    font-weight: 700; }
  @media (max-width: 768px) {
    .slogan {
      font-size: 16px; }
      .slogan span {
        font-size: 24px; } }

.button {
  padding: 6px 12px;
  margin-top: 4px; }

.section-height {
  padding-top: 80px;
  padding-bottom: 80px; }

.home-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center; }
  @media (max-width: 768px) {
    .home-title {
      font-size: 24px; } }

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center; }
  .feature li {
    width: 24%;
    margin-top: 24px; }
  .feature img {
    width: 100px; }
  .feature h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px; }
  .feature p {
    text-align: left;
    margin-top: 8px; }
  @media (max-width: 992px) {
    .feature {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .feature li {
        width: 47%; } }
  @media (max-width: 768px) {
    .feature {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .feature li {
        width: 80%; } }

.classic-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 48px; }
  .classic-product li {
    width: 32%; }
    .classic-product li img {
      width: 416px; }
  @media (max-width: 992px) {
    .classic-product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 24px; }
      .classic-product li {
        width: 50%; }
      .classic-product img {
        margin-top: 24px; } }
  @media (max-width: 768px) {
    .classic-product li {
      width: 100%; } }

.product-series {
  font-size: 48px;
  font-style: italic;
  font-weight: 900;
  margin-top: 8px; }

.cobranding-product {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .cobranding-product ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    .cobranding-product ul li {
      width: 50%;
      background-color: #fff;
      margin-top: 48px; }
      .cobranding-product ul li h3 {
        padding-top: 8px;
        padding-bottom: 8px; }
  @media (max-width: 992px) {
    .cobranding-product ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .cobranding-product ul li {
        width: 100%; } }

.review-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px; }
  .review-list li {
    width: 23.5%; }
  .review-list img {
    width: 100%; }
  @media (max-width: 992px) {
    .review-list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-top: 24px; }
      .review-list li {
        width: 48%;
        margin-top: 24px; } }
  @media (max-width: 768px) {
    .review-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 8px; }
      .review-list li {
        width: 100%;
        margin-top: 16px; } }

.review-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 205px;
  padding: 16px;
  border-left: 1px solid #DEE2E6;
  border-right: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029; }
  .review-card h3 {
    font-weight: 500;
    margin-bottom: 8px; }
  .review-card time {
    font-size: 14px;
    color: #707070; }

.contact {
  max-width: 636px;
  margin: 0 auto; }
  .contact p {
    font-size: 20px;
    margin-top: 48px; }
  @media (max-width: 992px) {
    .contact {
      max-width: 576px; }
      .contact p {
        font-size: 16px;
        margin-top: 24px; } }
  @media (max-width: 768px) {
    .contact {
      width: 100%; } }

.contact-form {
  margin-top: 8px; }
  .contact-form button {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    width: 70%;
    height: 56px;
    background-color: #AA0601;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    border: none; }
    .contact-form button:hover {
      opacity: 0.6; }
    @media (max-width: 768px) {
      .contact-form button {
        width: 100%; } }

.contact-group {
  margin-top: 16px; }
  .contact-group input {
    font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #000;
    margin-top: 8px;
    background-color: #FBF2F2; }
  .contact-group input[type="textarea"] {
    padding: 6px 0px 106px 12px; }

.check {
  margin-top: 16px; }
  .check input {
    width: 24px;
    height: 24px;
    margin-right: 4px; }

.qna {
  padding-top: 96px;
  padding-bottom: 80px; }
  @media (max-width: 992px) {
    .qna {
      padding-top: 80px; } }
  @media (max-width: 768px) {
    .qna {
      padding-top: 40px;
      padding-bottom: 64px; } }

.title {
  font-size: 48px;
  font-weight: 700;
  padding-left: 8px;
  border-left: 8px solid #9F1213; }
  @media (max-width: 768px) {
    .title {
      font-size: 24px; } }

.qna-content {
  margin-top: 32px; }
  @media (max-width: 768px) {
    .qna-content {
      margin-top: 24px; } }

.question-category {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px; }

.question {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px; }

/*# sourceMappingURL=all.css.map */
